<!DOCTYPE html>
<html>

<head>
    <title>Cloudera cluster access</title>
    <style>
        ul {
            padding-left: 0;
        }

        ul li {
            list-style-type: none;
        }

        .code-block {
            background-color: #f7f7f9;
            font-family: Monaco, Menlo, Consolas, "Courier New", monospace!important;
            border: 1px solid #00000026;
            border-radius: 4px;
            padding: 0em 1em 0em 1em;
            display: block;
            word-wrap: normal;
            width: fit-content;
        }

        .code-inline {
            background-color: #f7f7f9;
            font-family: Monaco, Menlo, Consolas, "Courier New", monospace!important;
            font-size: .75rem;
            line-height: .75rem;
            color: #d72b3f;
            border: 1px solid #e1e1e8;
            padding: 2px 3px 1px;
            word-wrap: normal;
            width: fit-content;
            border-radius: 3px;
        }
    </style>
</head>

<body>
    <h3>
        Using cloudera manager:
    </h3>
    <p>
        <ol>
            <li>Open browser and go to: {{ cloudera_manager_url }}</li>
            <li>Enter credentials to access cluster web interface:
                <ul>
                    <li><b>Username:</b> {{ user_name }}</li>
                    <li><b>Password:</b> {{ user_password }}</li>
                </ul>
            </li>
        </ol>
    </p>

    <h3>
    SSH access to cluster:
</h3>
    <p>
        <ol>
            <li>Download private key fiel from attachment and place it to ~/.ssh/</li>
            <li>Set rights on file to 600</li>
            <li>Add to ssh config file (~/.ssh/config, create if not exist)
                <div class="code-block">
                    <pre>
Host gu_manager
  HostName 13.56.208.40
  User {{ user_name }}
  IdentityFile ~/.ssh/{{ user_name }}
Host gu_gateway
  HostName 13.57.68.214
  User {{ user_name }}
  IdentityFile ~/.ssh/{{ user_name }}
Host gu_master
  HostName 52.9.115.55
  User {{ user_name }}
  IdentityFile ~/.ssh/{{ user_name }}
</pre>
                </div>
            </li>
        </ol>




    </p>

    <h3>
        Connect to cluster’s gateway node:
    </h3>
    <p>

        Gateway is special kind of node in cluster having access to all nodes cluster like HDFS, Hive or Spark nodes and having config files and cli/repl scripts to access different systems of the cluster.
        </br>To get there over ssh you need to:
        <ol>
            <li>Ssh connect to proxy node:
                <div class="code-inline">ssh gu_gateway</div>
            </li>
            <li>Now you should be connected to gateway node. Run
                <div class="code-inline">hadoop fs -ls /</div>
                to check you have access to HBDF master node. You should see list of files on root of HDFS catalog.
            </li>
        </ol>


    </p>

</body>

</html>
